:root {
  --header-bg: url("../assets/images/grafa2.jpeg");
}

.header {
    /*background-image: var(--header-bg);*/
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
    height: 95vh;
    position: relative;
    color: #fff;
  }

  @media (max-width: 767px){
    .header {
      background-image: url("../assets/images/grafa2_small.jpg");
    }
  }

  .primary-heading {
    display: block;
    color: #fff;
    text-shadow: 2px 2px #000;
    font-size: 4rem;
  }
  .secondary-heading {
    display: block;
    color: #f4f4f4;
  
    font-size: 3rem;
  }

  /*
  https://graphql.contentful.com/content/v1/spaces/{SPACE}/explore?access_token={CDA_TOKEN}
  space: 4une54jqe39k
  space name: Silo

  Content Delivery Api: 
  ZiDgkxyPVLE1o4OENSKONHbvUYYx-DwJ8OaoWb5nB-0

  https://graphql.contentful.com/content/v1/spaces/[YOUR_SPACE_ID]/explore?access_token=[YOUR_ACCESS_TOKEN]
  */